.resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__title {
    padding-bottom: 2%;
  }
  &__text {
    padding-bottom: 2%;
  }
  &__img {
    padding: 3%;
  }
  &__link {
    cursor: pointer;
  }
  &__info {
    width: 75%;
  }
  &__resume {
    width: 20%;
    margin-top: -70px;
  }
}