.resume {
  &__title {
    padding-bottom: 2%;
  }
  &__text {
    padding-bottom: 2%;
  }
  &__img {
    padding: 3%;
  }
  &__link {
    cursor: pointer;
  }
  &__resume {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
