.button {
  margin-right: 10px;
  margin-bottom: 10px;
  width: auto;
  background: grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  &__text {
    color: white;
    margin: 15px;
  }

  &:hover {
    background: lightgrey;
    cursor: pointer;
  }
}
