.button {
  margin: 10px;
  width: auto;
  background: grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    color: white;
    margin: 15px;
  }
}
