@import "@/index.scss";
.home {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}
.homeAnimation {
  position: relative;
  padding-top: 6%;
  width: 100%;
}
.homeInfo {
  position: absolute;
  top: 3%;
  left: 0;
}
