@import "@/index.scss";
@import "../../../../theme/media.scss";
.projectsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 3rem;
}
.full-width {
  width: 100%;
}
.small-width {
  width: 350px;
  @include screen-tb {
    width: 500px;
  }
}
.project {
  cursor: pointer;
  box-shadow: 10px 7px 23px -3px rgba(128, 0, 0, 1);
  border: 2px solid #800000;
  transform: translateY(0%);
  margin: auto;
  margin: 1%;
  margin-bottom: 5%;
  overflow: hidden;
  &__titleBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  &__title {
    margin: 4% auto;
  }
  &__tools {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  &__text {
    padding: 2% 3%;
    text-align: center;
  }
}
.arrow {
  width: 25px;
  padding-left: 10px;
}
.projectBlock {
  &__img {
    margin: 1%;
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background: black;
    transform: translateY(80%);
    @include screen-tb {
      transform: translateY(75%);
    }
    transition: all 0.5s ease;
    &:hover {
      transform: translateY(0%);
    }
  }
}
.projectButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  &__text {
    color: white;
    transition-duration: 1s;
    &:hover {
      color: #800000;
    }
  }
}
.projectBlockInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  &__title {
    padding-top: 10%;
    padding-bottom: 5%;
  }
}
