@import "@/index.scss";
.form {
  width: 100%;
  margin: 0 auto;
  box-shadow: 10px 7px 23px -3px rgba(128, 0, 0, 1);
  border: 2px solid #800000;
  padding: 2rem;

  @include screen-tb {
    width: 50%;
  }
  &__label {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__input {
    border: 1px solid #800000;
    background: black;
    padding: 1rem;
    color: white;
  }
}
.textarea {
  min-height: 200px;
  width: 100%;
}
.buttonForm {
  margin-top: 2rem;
  background: #800000;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  @include screen-tb {
    width: 30%;
  }
  &__text {
    font-weight: 600;
    color: white;
    margin: 0 auto;
  }
}
input {
  width: 100%;
}
