@import "@/index.scss";
.homeInfo {
  width: 100%;
  @include position-center(flex, column, center, center);
  height: auto;
  color: white;
  padding-top: 50%;
  padding-bottom: 2%;
  @include screen-tb {
    padding-top: 17%;
  }

  &__img {
    width: 40%;
    padding-bottom: 3%;
    @include screen-tb {
      width: 10%;
    }
  }
  &__title1 {
    text-align: center;
    text-transform: uppercase;
    @include font-size(700, 44px, 50px);
    position: relative;
    display: inline-block;
  }
  &__span {
    display: inline-block;
    cursor: pointer;
    transition: 2s;
    color: grey;
    &:hover {
      letter-spacing: 10px;
      color: #880000;
    }
  }
  &__text {
    text-align: center;
    width: 70%;
    padding-bottom: 2%;
  }
}

.arrow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-360deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
