.buttonLinkBlock {
  display: flex;
}
.buttonLink {
  background: rgb(34, 3, 5);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  &__text {
    color: white;
  }
  &__icon {
    margin-left: 10px;
    width: 30px;
  }
}
.projectDetails {
  &__tools {
    margin-top: 1rem;
    width: 100%;
  }
  &__links {
    margin-top: 1rem;
    width: 100%;
  }
  &__list {
    width: 100%;
  }
  padding: 2rem;
  &__title {
    text-align: center;
    .buttonLinkBlock {
      display: flex;
    }

    .buttonLink {
      background: rgb(34, 3, 5);
      padding: 15px;
      height: 66px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;

      &__text {
        color: white;
      }

      &__icon {
        margin-left: 10px;
        width: 40px;
      }
    }

    .projectDetails {
      &__tools {
        margin-top: 1rem;
        width: 100%;
      }

      &__links {
        margin-top: 1rem;
        width: 100%;
      }

      &__list {
        width: 100%;
      }

      padding: 2rem;

      &__title {
        text-align: center;
        padding: 0;
      }

      &__slider {
        box-shadow: 10px 7px 23px -3px rgba(128, 0, 0, 1);
        border: 2px solid #800000;
        width: 70%;
        margin: auto;
      }

      &__sliderTools {
        width: 50%;
        margin: 0 auto;
      }
    }

    .projectDetailsButton {
      margin-left: 5%;
    }

    padding: 0;
  }
  &__slider {
    box-shadow: 10px 7px 23px -3px rgba(128, 0, 0, 1);
    border: 2px solid #800000;
    width: 70%;
    margin: auto;
  }
  &__sliderTools {
    width: 50%;
    margin: 0 auto;
  }
}
.projectDetailsButton {
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}
