.buttonLinkBlock {
  display: flex;
}
.buttonLink {
  background: rgb(34, 3, 5);
  padding: 15px;
  height: 66px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  &__text {
    color: white;
  }
  &__icon {
    margin-left: 10px;
    width: 40px;
  }
}
.projectDetails {
  padding: 2rem;
  &__title {
    text-align: center;
    padding: 0;
  }
  &__slider {
    box-shadow: 10px 7px 23px -3px rgba(128, 0, 0, 1);
    border: 2px solid #800000;
    width: 40%;
    margin: 5% auto;
  }
}
.projectDetailsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
