@import "../../index.scss";
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(34, 3, 5);
  padding: 1%;

  z-index: 9000;
  @include screen-tb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__logo {
    width: 100%;

    @include screen-tb {
      width: 30%;
    }
  }
  &__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include screen-tb {
      width: 70%;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  @include screen-tb {
    justify-content: center;
  }
  text-transform: uppercase;
  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__text {
    margin-left: 20px;
    @include font-size(700, 22px, 30px);
    color: white;
  }
  &__text2 {
    color: grey;
  }
}
.headerNavs {
  @include screen-tb {
    width: 100%;
    margin-right: 3%;
  }
  text-align: right;
}
.headerNav {
  text-align: right;
  cursor: pointer;
  margin-left: 3%;
  @include font-size(700, 20px, 24px);
  &:hover {
    color: #800000;
  }
}
.headerNavActive {
  color: #800000;
}
